.logo {
  width: 131px;
  height: 44px;
}

@media (max-width: 1439.98px) {
  .logo {
    width: 149px;
    height: 50px;
  }
}
@media (max-width: 1023.98px) {
  .logo {
    width: 131px;
    height: 44px;
  }
}
