@import "../../variables/variables";
@import "../../theme/theme";

@import "serverContainer";
@import "authWrapper";

%scheme {
  .scheme-container {
    padding: 0;
    background: transparent;
    box-shadow: none;
    .schemes {
      @extend %serverContainer;
      @extend %authWrapper;
      @media screen and (max-width: $lg) {
        align-items: center;
      }
      @media screen and (max-width: $sm) {
        align-items: end;
        flex-wrap: nowrap;
      }
    }
  }
}
