@import "../../../SwaggerVariables/variables";
@import "../../../SwaggerTheme/theme";

%operationParameters {
  .opblock-section {
    .opblock-section-header {
      padding: 0.375rem 1.25rem 0.375rem 1.5rem;
      @media screen and (max-width: $lg) {
        padding: 0.75rem 1.5rem 0.75rem 1.5rem;
      }
      @media screen and (max-width: $sm) {
        padding: 0.5rem 1rem 0.5rem 0.75rem;
      }
      .tab-header {
        .opblock-title {
          @include medium15($grey200);
          @media screen and (max-width: $lg) {
            @include demi18($grey200);
          }
          @media screen and (max-width: $sm) {
            @include medium15($grey200);
          }
        }
        .tab-item {
          padding: 0;
          span {
            @include medium15($grey200);
            @media screen and (max-width: $lg) {
              @include demi18($grey200);
            }
            @media screen and (max-width: $sm) {
              @include medium15($grey200);
            }
            &::after {
              display: none;
            }
          }
        }
      }
      .try-out {
        .try-out__btn {
          @include uiButton(transparent, 1px solid $grey300, 0.75rem 1.5rem);
          @include medium15($darkSecondary);
          @media screen and (max-width: $sm) {
            @include uiButton(transparent, 1px solid $grey300, 0.5rem 1rem);
          }
          &.cancel {
            border: 1px solid #DF7878;
            background-color: #DC39391A;
            color: $error;
          }
        }
      }
    }
    .table-container {
      padding: 0.75rem 0.5rem;
      @media screen and (max-width: $sm) {
        padding: 0.75rem 0.375rem;
      }
      thead {
        th {
          padding: 0 0 0.688rem;
          border-bottom: none;
          @include medium15($grey200);
          @media screen and (max-width: $sm) {
            padding: 0 0 0.5rem;
            @include medium12($grey200);
          }
        }
        .parameters-col_name {
          padding-left: 1.063rem;
          @media screen and (max-width: $sm) {
            padding-left: 0.625rem;
          }
        }
      }
      tbody {
        tr:nth-child(odd) {
          .parameters-col_name, .parameters-col_description {
            background: $backgroundGrey200;
          }
        }
        tr {
          td:first-child {
            padding: 0.563rem 2.813rem 0.563rem 1.063rem;
            border-bottom-left-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            @media screen and (max-width: $sm) {
              padding: 0.438rem 0.875rem 1.125rem 0.625rem;
            }
          }
          td:nth-child(2) {
            padding: 0.563rem 0.875rem 0.563rem 0;
            border-bottom-right-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            @media screen and (max-width: $lg) {
              padding: 0.563rem 1.5rem 0.563rem 0;
            }
            @media screen and (max-width: $sm) {
              padding: 0.563rem 0.5rem 0.563rem 0;
            }
          }
          .parameters-col_name {
            .parameter__name {
              margin-right: 0;
              @include buttonText($darkPrimary);
              @media screen and (max-width: $sm) {
                @include medium15($darkPrimary);
              }
              &.required {
                display: flex;
                align-items: center;
                gap: 0.375rem;
                @media screen and (max-width: $sm) {
                  flex-direction: column;
                  gap: 0.125rem;
                  align-items: normal;
                }
                span {
                  display: none;
                }
                &::after {
                  content: '*reqired';
                  position: static;
                  background-color: #DC39391A;
                  border-radius: 0.25rem;
                  padding: 0.125rem 0.375rem;
                  @include medium12($error);
                  @media screen and (max-width: $sm) {
                    width: max-content;
                  }
                }
              }
            }
            .parameter__type {
              padding: 0.25rem 0 0.375rem;
              @include medium14($grey200);
              @media screen and (max-width: $sm) {
                @include medium12($grey200);
                padding: 0.25rem 0 0.125rem;
              }
            }
            .parameter__in {
              font-style: normal;
              @include medium12($grey300);
              @media screen and (max-width: $lg) {
                @include demiBold14($grey300);
              }
              @media screen and (max-width: $sm) {
                @include medium12($grey300);
              }
            }
          }
          .parameters-col_description {
            .renderedMarkdown {
              p {
                margin-bottom: 0.25rem;
                @include medium12($grey200);
                @media screen and (max-width: $lg) {
                  @include medium14($grey200);
                }
                @media screen and (max-width: $lg) {
                  @include medium12($grey200);
                }
              }
            }
            .markdown {
              p {
                padding-bottom: 0.25rem;
                @include medium12($grey200);
                @media screen and (max-width: $lg) {
                  @include medium14($grey200);
                }
                @media screen and (max-width: $sm) {
                  @include medium12($grey200);
                }
              }
            }
            input {
              margin: 0;
              padding: 0.875rem 0 0.875rem 1.75rem;
              height: 2.875rem;
              max-width: 19rem;
              border-radius: 0.5rem;
              background-color: $white;
              border-color: $grey400;
              outline: none;
              @include medium14($darkPrimary);
              @media screen and (max-width: $lg) {
                @include medium16($darkPrimary);
              }
              @media screen and (max-width: $sm) {
                @include medium14($darkPrimary);
              }
              @media screen and (max-width: $sm) {
                padding: 0 0 0 0.5rem;
                height: 2.5rem;
                max-width: 12.375rem;
              }
              &:hover {
                border-color: $grey300;
              }
              &:focus {
                border-color: $grey300;
              }
              &::placeholder {
                @include medium14($grey300);
                @media screen and (max-width: $lg) {
                  @include medium16($grey300);
                }
                @media screen and (max-width: $sm) {
                  @include medium14($grey300);
                }
              }
              &[type="file"] {
                position: relative;
                color: transparent;
                @media screen and (max-width: $sm) {
                  height: 5.125rem;
                }
                &::before {
                  content: 'Select file';
                  position: absolute;
                  left: 1.75rem;
                  @include medium14($darkPrimary);
                  @media screen and (max-width: $lg) {
                    @include medium16($darkPrimary);
                  }
                  @media screen and (max-width: $sm) {
                    left: 0.6rem;
                    top: 0.625rem;
                    @include medium14($darkPrimary);
                  }
                }
                &::after {
                  content: 'Choose file';
                  padding: 0.5rem 1.5rem;
                  position: absolute;
                  right: 0.5rem;
                  top: 50%;
                  transform: translateY(-50%);
                  background-color: $primary;
                  border-radius: 3.5rem;
                  @include medium15($white);
                  @media screen and (max-width: $sm) {
                    left: 0.6rem;
                    top: 2.25rem;
                    transform: none;
                    width: min-content;
                  }
                }
                &::-webkit-file-upload-button {
                  display: none;
                }
                &::file-selector-button {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .btn-group {
    padding: 0.75rem 1.5rem 0;
    gap: 0.5rem;
    .execute {
      flex: 0;
      @include medium15($white);
      @include uiButton($primary, none, 1rem 3.5rem);
    }
    .btn-clear {
      flex: 0;
      @include medium15($darkPrimary);
      @include uiButton($white, 1px solid $grey300, 1rem 3.5rem);
    }
  }
}
