api_platform:
  title: 'User Service API'
  description: 'This API provides endpoints to manage user data within a VilnaCRM.'
  version: '1.0.0'

  use_symfony_listeners: false

  graphql:
    graphiql: false

  openapi:
    overrideResponses: false

  defaults:
    extra_properties:
      rfc_7807_compliant_errors: true

  mapping:
    paths: ['%kernel.project_dir%/config/api_platform/resources']

  formats:
    json: ['application/json']
    graphql: ['application/graphql']
    jsonld: ['application/ld+json']

  error_formats:
    jsonproblem: ['application/problem+json']

  oauth:
    # To enable or disable OAuth.
    enabled: true

    # The OAuth client ID.
    clientId: ''

    # The OAuth client secret.
    clientSecret: ''

    # The OAuth type.
    type: 'oauth2'

    # The OAuth flow grant type.
    flow: 'application'

    # The OAuth token url.
    tokenUrl: '/api/oauth/token'

    # The OAuth authentication url.
    authorizationUrl: '/api/oauth/authorize'

    # The OAuth scopes.
    scopes:
      email: 'This scope value requests access to the email'
      profile: 'This scope value requests access to the user profile'
