api_platform:
  title: 'User Service API'
  description: 'This API provides endpoints to manage user data within a VilnaCRM.'
  version: '1.0.0'

  use_symfony_listeners: false

  graphql:
    graphiql: false

  openapi:
    overrideResponses: false
    contact:
      name: 'VilnaCRM Support'
      url: 'https://vilnacrm.com'
      email: 'support@vilnacrm.com'

  defaults:
    extra_properties:
      rfc_7807_compliant_errors: true

  mapping:
    paths: ['%kernel.project_dir%/config/api_platform/resources']

  formats:
    json: ['application/json']
    graphql: ['application/graphql']
    jsonld: ['application/ld+json']

  error_formats:
    jsonproblem: ['application/problem+json']

  oauth:
    enabled: false
