api_platform:
  title: 'User Service API'
  description: 'This API provides endpoints to manage user data within a VilnaCRM.'
  version: '1.0.0'

  use_symfony_listeners: false

  graphql:
    graphiql: false
    max_query_depth: 20
    max_query_complexity: 500

  openapi:
    overrideResponses: false
    contact:
      name: 'VilnaCRM Support'
      url: 'https://vilnacrm.com'
      email: 'support@vilnacrm.com'
    license:
      name: 'CC0-1.0'
      url: 'https://creativecommons.org/publicdomain/zero/1.0/'

  defaults:
    extra_properties:
      rfc_7807_compliant_errors: true

  mapping:
    paths: ['%kernel.project_dir%/config/api_platform/resources']

  # Tell API Platform where your domain classes live
  resource_class_directories:
    - '%kernel.project_dir%/src/User/Domain/Entity'
    - '%kernel.project_dir%/src/OAuth/Domain/Entity'

  formats:
    json: ['application/json']
    graphql: ['application/graphql']
    jsonld: ['application/ld+json']

  error_formats:
    jsonproblem: ['application/problem+json']

  oauth:
    enabled: false

  # Disable Doctrine ORM support (using MongoDB ODM only)
  doctrine: false

when@prod:
  api_platform:
    graphql:
      introspection:
        enabled: false
