[submodule "tests/CLI/bats/bats-assert"]
	path = tests/CLI/bats/bats-assert
	url = https://github.com/bats-core/bats-assert
[submodule "tests/CLI/bats/bats-support"]
	path = tests/CLI/bats/bats-support
	url = https://github.com/bats-core/bats-support
