default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext
                - App\Tests\Behat\UserGraphQLContext
                - App\Tests\Behat\UserContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: 'tests/bootstrap.php'
            kernel:
                class: App\Shared\Kernel
