# Development environment override
services:
  php:
    build:
      target: app_php_dev
    volumes:
      - ./:/srv/app
      - ./infrastructure/docker/php/conf.d/app.dev.ini:/usr/local/etc/php/conf.d/app.dev.ini:ro
      # If you develop on Mac or Windows you can remove the vendor/ directory
      #  from the bind-mount for better performance by enabling the next line:
      #- /srv/app/vendor
    environment:
      # See https://xdebug.org/docs/all_settings#mode
      XDEBUG_MODE: '${XDEBUG_MODE:-off}'
    extra_hosts:
      # Ensure that host.docker.internal is correctly defined on Linux
      - host.docker.internal:host-gateway

  caddy:
    command:
      ['caddy', 'run', '--config', '/etc/caddy/Caddyfile', '--adapter', 'caddyfile', '--watch']
    volumes:
      - ./public:/srv/app/public:ro
      - ./infrastructure/docker/caddy/Caddyfile:/etc/caddy/Caddyfile:ro

  structurizr:
    image: structurizr/lite:2024.07.02
    ports:
      - '${STRUCTURIZR_PORT}:8080'
    volumes:
      - ./:/usr/local/structurizr

  localstack:
    image: localstack/localstack:3.4.0
    container_name: localstack
    ports:
      - '${LOCALSTACK_PORT}:4566'
    environment:
      - SERVICES=sqs,ec2,s3,iam,sts
      - DEBUG=1
    volumes:
      - localstack_data:/var/lib/localstack
      - ./infrastructure/docker/php/init-aws.sh:/etc/localstack/init/ready.d/init-aws.sh
volumes:
  localstack_data:
