services:
  php:
    build:
      context: .
      target: frankenphp_prod
      args:
        SYMFONY_VERSION: ${SYMFONY_VERSION:-}
        STABILITY: ${STABILITY:-stable}
    depends_on:
      database:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 30s
    environment:
      SERVER_NAME: ${SERVER_NAME:-localhost}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    ports:
      # HTTP
      - target: 80
        published: ${HTTP_PORT:-80}
        protocol: tcp
      # HTTPS
      - target: 443
        published: ${HTTPS_PORT:-443}
        protocol: tcp
      # HTTP/3
      - target: 443
        published: ${HTTP3_PORT:-443}
        protocol: udp

  app-prod:
    build:
      context: .
      target: frankenphp_prod
      args:
        SYMFONY_VERSION: ${SYMFONY_VERSION:-}
        STABILITY: ${STABILITY:-stable}
    depends_on:
      database:
        condition: service_healthy
    restart: unless-stopped
    environment:
      SERVER_NAME: ${SERVER_NAME:-:80}
      APP_ENV: prod
    ports:
      - '8082:80'

  workers:
    depends_on:
      php:
        condition: service_healthy
    build:
      context: .
      target: app_workers
    privileged: true
    environment:
      - container=docker
    volumes:
      - ./:/srv/app

  database:
    image: mongo:8.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USER:-root}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD:-secret}
    ports:
      - '${MONGODB_PORT:-27017}:27017'
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test:
        [
          'CMD',
          'mongosh',
          '-u',
          '${MONGODB_USER:-root}',
          '-p',
          '${MONGODB_PASSWORD:-secret}',
          '--authenticationDatabase',
          'admin',
          '--eval',
          'db.runCommand({ ping: 1 }).ok',
        ]
      interval: 10s
      timeout: 5s
      retries: 10

  redis:
    image: redis:8.0.0-alpine
    ports:
      - '6379:6379'

volumes:
  caddy_data:
  caddy_config:
  mongodb_data:
