{
    {$CADDY_GLOBAL_OPTIONS}

    frankenphp {
        {$FRANKENPHP_CONFIG}
    }

    {$CADDY_DEBUG}
    auto_https disable_redirects
}

{$SERVER_NAME} {
    log {
        output stderr
        format json
    }
    {$CADDY_EXTRA_CONFIG}

    root * /srv/app/public
    encode zstd gzip

    # Handle Mercure
    mercure {
        transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
        anonymous
        subscriptions
        {$MERCURE_EXTRA_DIRECTIVES}
    }

    vulcain

    php_server
    file_server
}

:8081 {
    log {
        output stderr
        format json
    }

    root * /srv/app/public

    mercure {
        transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
        anonymous
        subscriptions
        {$MERCURE_EXTRA_DIRECTIVES}
    }

    vulcain
    php_server {
        env APP_ENV test
    }
    encode zstd gzip
    file_server
}
