{
    {$CADDY_GLOBAL_OPTIONS}

    frankenphp {
        {$FRANKENPHP_CONFIG}
    }

    {$CADDY_DEBUG}
    auto_https disable_redirects
}

{$SERVER_NAME} :80 :443 {
    log {
        output stderr
        format json
    }
    {$CADDY_EXTRA_CONFIG}

    root * /srv/app/public
    encode zstd gzip

    vulcain

    php_server
    file_server
}

:8081 {
    log {
        output stderr
        format json
    }

    root * /srv/app/public

    vulcain
    php_server {
        env APP_ENV test
    }
    encode zstd gzip
    file_server
}
