{
  "protocol": "http",
  "host": "localhost",
  "port": "3000",
  "delayBetweenScenarios": 30,
  "endpoints": {
    "homepage": {
      "setupTimeoutInMinutes": 10,
      "smoke": {
        "threshold": 4000,
        "rps": 4,
        "vus": 4,
        "duration": 10
      },
      "average": {
        "threshold": 7000,
        "rps": 15,
        "vus": 15,
        "duration": {
          "rise": 5,
          "plateau": 30,
          "fall": 5
        }
      },
      "stress": {
        "threshold": 25000,
        "rps": 75,
        "vus": 75,
        "duration": {
          "rise": 5,
          "plateau": 30,
          "fall": 5
        }
      },
      "spike": {
        "threshold": 50000,
        "rps": 150,
        "vus": 150,
        "duration": {
          "rise": 30,
          "fall": 10
        }
      }
    }
  }
}
