{
  "protocol": "http",
  "host": "localhost",
  "port": "3000",
  "params": {
    "headers": {
      "Continuous-Deployment-Header-Name": "continuous-deployment-header-value"
    }
  },
  "delayBetweenScenarios": 30,
  "endpoints": {
    "homepage": {
      "setupTimeoutInMinutes": 10,
      "smoke": {
        "threshold": 15000,
        "rps": 5,
        "vus": 5,
        "duration": 10
      },
      "average": {
        "threshold": 5000,
        "rps": 15,
        "vus": 15,
        "duration": {
          "rise": 5,
          "plateau": 30,
          "fall": 5
        }
      },
      "stress": {
        "threshold": 17000,
        "rps": 75,
        "vus": 75,
        "duration": {
          "rise": 5,
          "plateau": 30,
          "fall": 5
        }
      },
      "spike": {
        "threshold": 44000,
        "rps": 150,
        "vus": 150,
        "duration": {
          "rise": 30,
          "fall": 10
        }
      }
    }
  }
}
