@import "../SwaggerVariables/variables";
@import "../SwaggerTheme/theme";

@import "OperationHeader/operationHeader";
@import "OperationContent/operationContent";

%operationBlock {
  .opblock-tag-section {
    @extend %operationHeader;
    @extend %operationContent;
    &.is-open {
      h3:first-child {
        background-color: transparent;
        @media screen and (max-width: $sm) {
          border: 1px solid transparent;
        }
        button {
          @include uiIconButton('../../../assets/svg/swagger/arrow-top.svg');
        }
      }
    }
  }
}
