@import "../SwaggerVariables/variables";
@import "../SwaggerTheme/theme";

%operationBlock {
  .opblock-tag-section {
    .opblock-tag {
      border-bottom: none;
      border-radius: 0.5rem;
      background-color: $backgroundGrey200;
      padding: 11px 16px 11px 24px;
      a:first-child {
        @include h5Text;
        line-height: 2.06rem;
      }
      small {
        padding-left: 1rem;
        .markdown {
          p {
            @include bodyText16($grey250);
          }
        }
      }
      button {
        svg {
          background-image: url('../../../assets/svg/swagger/arrow-down.svg');
        }
      }
      .info__externaldocs {
        display: none;
      }
    }
    &.is-open {
      h3:first-child {
        background-color: transparent;
      }
    }
  }
}
