.swagger-ui {
  .scheme-container {
    padding: 0;
    background: transparent;
    box-shadow: none;
    .schemes {
      .schemes-server-container {
        label {
          @extend %label;
          gap: 0.938rem;
          .schemes-title {
            font-family: $golos;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.625rem;
            color: $grey250;
          }
          #schemes {
            @extend %select;
            width: 9.813rem;
          }
        }
      }
    }
    .auth-wrapper {
      .authorize {
        @extend %button;
        background-color: $primary;
        border: none;
        span {
          color: $white;
          font-size: 0.938rem;
          font-weight: 500;
          padding: 0;
        }
      }
      svg {
        display: none;
      }
    }
  }
}
