App\User\Application\DTO\UserRegisterDto:
  properties:
    email:
      - Email: { message: 'email.invalid' }
      - NotBlank: { message: 'not.blank' }
      - Length:
          max: 255
      - App\Shared\Application\Validator\UniqueEmail: ~
    initials:
      - NotBlank: { message: 'not.blank' }
      - Length:
          max: 255
      - App\Shared\Application\Validator\Initials: ~
    password:
      - NotBlank: { message: 'not.blank' }
      - Length:
          max: 255
      - App\Shared\Application\Validator\Password: ~

App\User\Application\DTO\UserRegisterBatchDto:
  properties:
    users:
      - App\Shared\Application\Validator\CreateUserBatch: ~
      - All:
          - Collection:
              email:
                - Email: { message: 'email.invalid' }
                - NotBlank: { message: 'not.blank' }
                - Length:
                    max: 255
                - App\Shared\Application\Validator\UniqueEmail: ~
              initials:
                - NotBlank: { message: 'not.blank' }
                - Length:
                    max: 255
                - App\Shared\Application\Validator\Initials: ~
              password:
                - NotBlank: { message: 'not.blank' }
                - Length:
                    max: 255
                - App\Shared\Application\Validator\Password: ~

App\User\Application\DTO\UserPatchDto:
  properties:
    email:
      - Email: { message: 'email.invalid' }
      - Length:
          max: 255
      - App\Shared\Application\Validator\UniqueEmail: ~
    initials:
      - Length:
          max: 255
      - App\Shared\Application\Validator\Initials: ~
    oldPassword:
      - NotBlank: { message: 'not.blank' }
      - Length:
          max: 255
      - App\Shared\Application\Validator\Password: ~
    newPassword:
      - Length:
          max: 64
          maxMessage: 'password.invalid.length'
      - Regex:
          pattern: '/^$|^.{8,}$/'
          message: 'password.invalid.length'
      - Regex:
          pattern: '/^$|.*[0-9].*/'
          message: 'password.missing.number'
      - Regex:
          pattern: '/^$|.*[A-Z].*/'
          message: 'password.missing.uppercase'

App\User\Application\DTO\UserPutDto:
  properties:
    email:
      - NotBlank: { message: 'not.blank' }
      - Email: { message: 'email.invalid' }
      - Length:
          max: 255
      - App\Shared\Application\Validator\UniqueEmail: ~
    initials:
      - NotBlank: { message: 'not.blank' }
      - Length:
          max: 255
      - App\Shared\Application\Validator\Initials: ~
    oldPassword:
      - Length:
          max: 255
      - NotBlank: { message: 'not.blank' }
      - App\Shared\Application\Validator\Password: ~
    newPassword:
      - Length:
          max: 255
      - NotBlank: { message: 'not.blank' }
      - App\Shared\Application\Validator\Password: ~

App\User\Application\DTO\ConfirmUserDto:
  properties:
    token:
      - NotBlank: { message: 'not.blank' }

App\User\Application\MutationInput\ConfirmUserMutationInput:
  properties:
    token:
      - NotBlank: { message: 'not.blank' }
      - NotNull: ~

App\User\Application\MutationInput\CreateUserBatchMutationInput:
  properties:
    users:
      - App\Shared\Application\Validator\CreateUserBatch: ~
      - All:
          - Collection:
              email:
                - Email: { message: 'email.invalid' }
                - NotBlank: { message: 'not.blank' }
                - Length:
                    max: 255
                - App\Shared\Application\Validator\UniqueEmail: ~
              initials:
                - NotBlank: { message: 'not.blank' }
                - Length:
                    max: 255
                - App\Shared\Application\Validator\Initials: ~
              password:
                - NotBlank: { message: 'not.blank' }
                - Length:
                    max: 255
                - App\Shared\Application\Validator\Password: ~

App\User\Application\MutationInput\CreateUserMutationInput:
  properties:
    email:
      - Email: { message: 'email.invalid' }
      - NotBlank: { message: 'not.blank' }
      - Length:
          max: 255
      - App\Shared\Application\Validator\UniqueEmail: ~
    initials:
      - NotBlank: { message: 'not.blank' }
      - Length:
          max: 255
      - App\Shared\Application\Validator\Initials: ~
    password:
      - Length:
          max: 255
      - NotBlank: { message: 'not.blank' }
      - App\Shared\Application\Validator\Password: ~

App\User\Application\MutationInput\UpdateUserMutationInput:
  properties:
    email:
      - Email: { message: 'email.invalid' }
      - Length:
          max: 255
      - App\Shared\Application\Validator\UniqueEmail: ~
    initials:
      - Length:
          max: 255
      - App\Shared\Application\Validator\Initials: ~
    password:
      - Length:
          max: 64
          maxMessage: 'password.invalid.length'
      - Regex:
          pattern: '/^$|^.{8,}$/'
          message: 'password.invalid.length'
      - Regex:
          pattern: '/^$|.*[0-9].*/'
          message: 'password.missing.number'
      - Regex:
          pattern: '/^$|.*[A-Z].*/'
          message: 'password.missing.uppercase'
    newPassword:
      - Length:
          max: 64
          maxMessage: 'password.invalid.length'
      - Regex:
          pattern: '/^$|^.{8,}$/'
          message: 'password.invalid.length'
      - Regex:
          pattern: '/^$|.*[0-9].*/'
          message: 'password.missing.number'
      - Regex:
          pattern: '/^$|.*[A-Z].*/'
          message: 'password.missing.uppercase'

App\User\Application\DTO\RequestPasswordResetDto:
  properties:
    email:
      - Email: { message: 'email.invalid' }
      - NotBlank: { message: 'not.blank' }
      - Length:
          max: 255

App\User\Application\DTO\ConfirmPasswordResetDto:
  properties:
    token:
      - NotBlank: { message: 'not.blank' }
      - Length:
          max: 255
    newPassword:
      - NotBlank: { message: 'not.blank' }
      - Length:
          max: 255
      - App\Shared\Application\Validator\Password: ~

App\User\Application\MutationInput\RequestPasswordResetMutationInput:
  properties:
    email:
      - Email: { message: 'email.invalid' }
      - NotBlank: { message: 'not.blank' }
      - NotNull: ~
      - Length:
          max: 255

App\User\Application\MutationInput\ConfirmPasswordResetMutationInput:
  properties:
    token:
      - NotBlank: { message: 'not.blank' }
      - NotNull: ~
      - Length:
          max: 255
    newPassword:
      - NotBlank: { message: 'not.blank' }
      - NotNull: ~
      - Length:
          max: 255
      - App\Shared\Application\Validator\Password: ~
