@import "../../../SwaggerVariables/variables";
@import "../../../SwaggerTheme/theme";

@import "Responses/responses";

%operationBody {
  .opblock-body {
    @extend %operationParameters;
    @extend %responses;
    .execute-wrapper {
      padding: 0;
      text-align: left;
      button {
        margin-left: 24px;
        margin-top: 19px;
        width: min-content;
        @include medium15($white);
        @include uiButton($primary, none, 1rem 3.5rem);
      }
    }
  }
}
