@import "../../SwaggerVariables/variables";
@import "../../SwaggerTheme/theme";

@import "OperationSummary/operationSummary";
@import 'OperationMethodsTheme/operationMethodsTheme';
@import 'OperationSelect/operationSelect';
@import 'OperationCodeExample/operationCodeExample';
@import 'OperationParameters/operationParameters';
@import 'OperationBody/operationBody';

%operationContent {
  .no-margin {
    .operation-tag-content {
      padding: 0 1.25rem;
      @media screen and (max-width: $lg) {
        padding: 0 1.5rem;
      }
      @media screen and (max-width: $sm) {
        padding: 0;
      }
      .opblock {
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        background: $white;
        box-shadow: none;
        @media screen and (max-width: $lg) {
          margin-bottom: 1rem;
        }
        @media screen and (max-width: $sm) {
          margin-bottom: 0.5rem;
        }
        @extend %operationSummary;
        @extend %operationMethodsTheme;
        @extend %operationCodeExample;
        @extend %operationSelect;
        @extend %operationBody;
        &.is-open {
          .opblock-summary {
            .opblock-control-arrow {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
