@import "../../SwaggerVariables/variables";
@import "../../SwaggerTheme/theme";

@import "OperationSummary/operationSummary";
@import 'OperationMethodsTheme/operationMethodsTheme';

%operationContent {
  .no-margin {
    .operation-tag-content {
      padding: 0 1.25rem;
      @media screen and (max-width: $lg) {
        padding: 0 1.5rem;
      }
      @media screen and (max-width: $sm) {
        padding: 0;
      }
      .opblock {
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        background: none;
        box-shadow: none;
        @extend %operationSummary;
        @extend %operationMethodsTheme;
        &.is-open {
          .opblock-summary {
            .opblock-control-arrow {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
