services:
  Symfony\Component\Security\Core\Authentication\Token\Storage\TokenStorageInterface:
    alias: 'security.token_storage'
    public: true

  App\Tests\Behat\OAuthContext\OAuthContext:
    arguments:
      $tokenStorage: '@security.token_storage'

  App\Tests\Behat\UserContext\UserContext:
    arguments:
      $cachePool: '@cache.user'

  _defaults:
    autowire: true
    autoconfigure: true

  App\Tests\Behat\:
    resource: '../tests/Behat/*'
