services:
  Symfony\Component\Security\Core\Authentication\Token\Storage\TokenStorageInterface:
    alias: 'security.token_storage'
    public: true

  App\Tests\Behat\OAuthContext\OAuthContext:
    arguments:
      $tokenStorage: '@security.token_storage'

  _defaults:
    autowire: true
    autoconfigure: true

  App\Shared\Application\Observability\Emitter\BusinessMetricsEmitterInterface: '@App\Tests\Unit\Shared\Infrastructure\Observability\BusinessMetricsEmitterSpy'

  App\Tests\Unit\Shared\Infrastructure\Observability\BusinessMetricsEmitterSpy:
    public: true

  App\Tests\Behat\:
    resource: '../tests/Behat/*'
