@import "../../../SwaggerVariables/variables";
@import "../../../SwaggerTheme/theme";

%operationCodeExample {
  .model-example {
    margin-top: 0.75rem;
    @media screen and (max-width: $lg) {
      margin-top: 0.875rem;
    }
    @media screen and (max-width: $sm) {
      margin-top: 0.25rem;
    }
    .tab {
      margin-bottom: 1rem;
      @media screen and (max-width: $lg) {
        margin-bottom: 1.125rem;
      }
      @media screen and (max-width: $sm) {
        margin-bottom: 0.5rem;
      }
      li:first-child {
        position: relative;
        padding-right: 0.75rem;
        margin-right: 0.75rem;
        @include medium12($darkPrimary);
        @media screen and (max-width: $lg) {
          @include medium16($darkPrimary);
        }
        @media screen and (max-width: $sm) {
          @include medium14($darkPrimary);
        }
        &::after {
          right: -1px;
          transform: translateY(-50%);
          top: 50%;
          height: 1rem;
          background-color: $grey300;
        }
      }
      li:nth-child(2) {
        @include medium12($grey300);
        @media screen and (max-width: $lg) {
          @include medium16($grey300);
        }
        @media screen and (max-width: $lg) {
          @include medium14($grey300);
        }
      }
    }
    div {
      outline: none;
      .highlight-code {
        .microlight {
          padding: 0.75rem 1rem!important;
          background-color: $darkSecondary!important;
          border-radius: 0.5rem;
          @media screen and (max-width: $lg) {
            padding: 1rem!important;
          }
          @media screen and (max-width: $lg) {
            padding: 0.75rem!important;
          }
          code {
            @include demiBold14($white);
            @media screen and (max-width: $lg) {
              @include demi18($white);
              line-height: 1.32rem;
            }
            @media screen and (max-width: $sm) {
              @include medium15($white);
              line-height: 1.125rem;
            }
          }
        }
      }
      .body-param-options {
        margin-top: 0.75rem;
        label {
          margin: 0;
          padding: 0;
          span {
            @include medium14($grey200);
            @media screen and (max-width: $sm) {
              @include bodyTextMobile($grey200);
            }
          }
          div {
            margin-top: 0.5rem;
            @media screen and (max-width: $sm) {
              margin-top: 0.25rem;
            }
            select {
              margin: 0;
            }
          }
        }
      }
    }
    .model-box {
      padding: 0.438rem 1rem 0.75rem;
      background-color: $grey400;
      border: 1px solid $grey400;
      & > .model {
        & > span {
          & > button {
            outline: none;
            &[aria-expanded="true"] {
              margin-bottom: 0.625rem;
            }
            span {
              @include demiBold14($darkPrimary);
            }
            .model-toggle {
              margin: 0;
              top: 5px;
              &::after {
                background-image: url("../../../../../assets/svg/swagger/arrow-right.svg");
              }
            }
          }
        }
        .brace-open, .brace-close {
          @include demiBold14($darkPrimary);
        }
        .brace-close {
          display: inline-block;
          margin-top: 0.625rem;
        }
        .inner-object {
          .model {
            td {
              padding: 0;
              min-height: 22px;
            }
            td:first-child {
              width: 6.25rem;
              @include medium14($grey200);
            }
            td:nth-child(2) {
              display: flex;
              justify-content: end;
              .model {
                vertical-align: top;
                span {
                  button {
                    vertical-align: top;
                    outline: none;
                    @include demiBold14($grey200);
                    .pointer {
                      .model-hint {
                        display: none;
                      }
                      .model-title__text {
                        @include demiBold14($grey200);
                      }
                    }
                    .model-toggle {
                      top: 0;
                      margin: 0;
                      &::after {
                        background-image: url("../../../../../assets/svg/swagger/arrow-right.svg");
                      }
                    }
                    span:nth-child(2) {
                      vertical-align: top;
                    }
                  }
                  .prop-type {
                    @include demiBold14($primary);
                  }
                  .prop-format {
                    @include medium14($grey300);
                  }
                }
              }
            }
          }
        }
      }
      &:focus-within {
        background-color: $backgroundGrey200;
        border: 1px solid $grey400;
      }
      &:hover {
        background-color: $backgroundGrey200;
        border: 1px solid $grey400;
      }
    }
  }
}
