resources:
  App\User\Domain\Entity\User:
    exceptionToStatus:
      'App\User\Domain\Exception\UserTimedOutException': 429
      'App\User\Domain\Exception\UserNotFoundException': 404
      'App\User\Domain\Exception\InvalidPasswordException': 400
      'App\User\Domain\Exception\TokenNotFoundException': 404
      'App\User\Domain\Exception\DuplicateEmailException': 409
      'App\User\Domain\Exception\PasswordResetTokenNotFoundException': 404
      'App\User\Domain\Exception\PasswordResetTokenExpiredException': 400
      'App\User\Domain\Exception\PasswordResetTokenAlreadyUsedException': 400
      'App\User\Domain\Exception\PasswordResetRateLimitExceededException': 429
    normalizationContext:
      groups: ['output']

    operations:
      ApiPlatform\Metadata\GetCollection:
        paginationClientItemsPerPage: true
      ApiPlatform\Metadata\Get: ~
      create_http:
        class: 'ApiPlatform\Metadata\Post'
        input: 'App\User\Application\DTO\UserRegisterDto'
        processor: 'App\User\Application\Processor\RegisterUserProcessor'
      create_batch_http:
        class: 'ApiPlatform\Metadata\Post'
        input: 'App\User\Application\DTO\UserRegisterBatchDto'
        processor: 'App\User\Application\Processor\RegisterUserBatchProcessor'
        uriTemplate: 'users/batch'
      confirm_http:
        class: 'ApiPlatform\Metadata\Patch'
        input: 'App\User\Application\DTO\ConfirmUserDto'
        processor: 'App\User\Application\Processor\ConfirmUserProcessor'
        uriTemplate: 'users/confirm'
      ApiPlatform\Metadata\Patch:
        input: 'App\User\Application\DTO\UserPatchDto'
        processor: 'App\User\Application\Processor\UserPatchProcessor'
      ApiPlatform\Metadata\Put:
        input: 'App\User\Application\DTO\UserPutDto'
        processor: 'App\User\Application\Processor\UserPutProcessor'
      ApiPlatform\Metadata\Delete: ~
      ApiPlatform\Metadata\Post:
        uriTemplate: '/users/{id}/resend-confirmation-email'
        input: 'App\User\Application\DTO\RetryDto'
        processor: 'App\User\Application\Processor\ResendEmailProcessor'
      request_password_reset:
        class: 'ApiPlatform\Metadata\Post'
        uriTemplate: '/users/{id}/reset-password'
        controller: 'App\User\Application\Controller\RequestPasswordResetController'
        openapi:
          summary: 'Request password reset'
          description: 'Initiates password reset process by sending reset email'
          requestBody:
            description: 'Password reset request data'
            required: true
            content:
              'application/json':
                schema:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                      description: 'User email address'
                      example: 'user@example.com'
                  required: ['email']
          responses:
            '200':
              description: 'Password reset email sent'
              content:
                'application/json':
                  schema:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Password reset email sent successfully'
      confirm_password_reset:
        class: 'ApiPlatform\Metadata\Post'
        uriTemplate: '/users/{id}/reset-password/confirm'
        controller: 'App\User\Application\Controller\ConfirmPasswordResetController'
        openapi:
          summary: 'Confirm password reset'
          description: 'Confirms password reset using token and sets new password'
          requestBody:
            description: 'Password reset confirmation data'
            required: true
            content:
              'application/json':
                schema:
                  type: object
                  properties:
                    token:
                      type: string
                      description: 'Password reset token'
                      example: 'abc123def456'
                    newPassword:
                      type: string
                      description: 'New password'
                      example: 'newSecurePassword123'
                  required: ['token', 'newPassword']
          responses:
            '200':
              description: 'Password reset confirmed successfully'
              content:
                'application/json':
                  schema:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Password reset confirmed successfully'

    graphQlOperations:
      - class: 'ApiPlatform\Metadata\GraphQl\Query'
      - class: 'ApiPlatform\Metadata\GraphQl\QueryCollection'
      - class: 'ApiPlatform\Metadata\GraphQl\DeleteMutation'
        normalizationContext:
          groups: ['deleteMutationOutput']
        name: 'delete'
      - class: 'ApiPlatform\Metadata\GraphQl\Mutation'
        name: 'confirm'
        resolver: 'App\User\Application\Resolver\ConfirmUserMutationResolver'
        deserialize: false
        denormalizationContext:
          groups: []
        extraArgs:
          token:
            type: 'String!'
      - class: 'ApiPlatform\Metadata\GraphQl\Mutation'
        resolver: 'App\User\Application\Resolver\RegisterUserMutationResolver'
        deserialize: false
        name: 'create'
        denormalizationContext:
          groups: []
        extraArgs:
          email:
            type: 'String!'
          initials:
            type: 'String!'
          password:
            type: 'String!'
      - class: 'ApiPlatform\Metadata\GraphQl\Mutation'
        resolver: 'App\User\Application\Resolver\UserUpdateMutationResolver'
        deserialize: false
        write: false
        name: 'update'
        denormalizationContext:
          groups: []
        extraArgs:
          id:
            type: 'ID!'
          newPassword:
            type: 'String'
          password:
            type: 'String!'
          email:
            type: 'String'
          initials:
            type: 'String'
      - class: 'ApiPlatform\Metadata\GraphQl\Mutation'
        resolver: 'App\User\Application\Resolver\ResendEmailMutationResolver'
        name: 'resendEmailTo'
        denormalizationContext:
          groups: []
        extraArgs:
          id:
            type: 'ID!'
      - class: 'ApiPlatform\Metadata\GraphQl\Mutation'
        resolver: 'App\User\Application\Resolver\RequestPasswordResetMutationResolver'
        name: 'requestPasswordReset'
        deserialize: false
        denormalizationContext:
          groups: []
        extraArgs:
          email:
            type: 'String!'
      - class: 'ApiPlatform\Metadata\GraphQl\Mutation'
        resolver: 'App\User\Application\Resolver\ConfirmPasswordResetMutationResolver'
        name: 'confirmPasswordReset'
        deserialize: false
        denormalizationContext:
          groups: []
        extraArgs:
          token:
            type: 'String!'
          newPassword:
            type: 'String!'

  App\Internal\HealthCheck\Domain\ValueObject\HealthCheck:
    operations:
      ApiPlatform\Metadata\Get:
        uriTemplate: '/health'
        controller: 'App\Internal\HealthCheck\Application\Controller\HealthCheckController'
        openapi:
          responses:
            '204':
              description: 'Health check passed with no content to return.'
            '500':
              description: 'Health check failed.'
