{
    "apiHost":"localhost",
    "apiPort":"8081",
    "mailCatcherPort":"1080",
    "batchSize":5000,
    "delayBetweenScenarios":30,
    "gettingEmailMaxRetries":300,
    "usersFileLocation":"/loadTests/",
    "usersFileName":"users.json",
    "endpoints":{
        "getUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":60,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":200,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":600,
                "rps":300,
                "vus":300,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":8000,
                "rps":400,
                "vus":400,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "getUsers":{
            "setupTimeoutInMinutes":30,
            "usersToGetInOneRequest":50,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":70,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":300,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":11000,
                "rps":300,
                "vus":300,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":8000,
                "rps":400,
                "vus":400,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "createUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":4500,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":10000,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":50000,
                "rps":100,
                "vus":100,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":60000,
                "rps":200,
                "vus":200,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "createUserBatch":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "batchSize":10,
            "smoke":{
                "threshold":4500,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":10000,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":50000,
                "rps":100,
                "vus":100,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":60000,
                "rps":200,
                "vus":200,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "updateUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":4500,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":10000,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":50000,
                "rps":150,
                "vus":150,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":60000,
                "rps":200,
                "vus":200,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "replaceUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":4500,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":10000,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":50000,
                "rps":150,
                "vus":150,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":60000,
                "rps":200,
                "vus":200,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "confirmUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":60000,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":60000,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":80000,
                "rps":150,
                "vus":150,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":80000,
                "rps":200,
                "vus":200,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "deleteUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":90,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":350,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":3500,
                "rps":150,
                "vus":150,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":8000,
                "rps":400,
                "vus":400,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "resendEmailToUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":4500,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":15000,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":30000,
                "rps":150,
                "vus":150,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":60000,
                "rps":200,
                "vus":200,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "oauth":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "clientName":"ClientName",
            "clientSecret":"Secret1",
            "clientID":"ID123",
            "clientRedirectUri":"https://example.com/oauth/callback",
            "smoke":{
                "threshold":90,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":350,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":3500,
                "rps":150,
                "vus":150,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":8000,
                "rps":400,
                "vus":400,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "graphQLGetUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":60,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":200,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":6000,
                "rps":300,
                "vus":300,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":8000,
                "rps":400,
                "vus":400,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "graphQLGetUsers":{
            "setupTimeoutInMinutes":30,
            "usersToGetInOneRequest":50,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":70,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":300,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":18000,
                "rps":300,
                "vus":300,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":8000,
                "rps":400,
                "vus":400,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "graphQLCreateUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":4500,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":10000,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":60000,
                "rps":100,
                "vus":100,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":60000,
                "rps":200,
                "vus":200,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "graphQLUpdateUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":6500,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":10000,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":50000,
                "rps":150,
                "vus":150,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":60000,
                "rps":200,
                "vus":200,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "graphQLConfirmUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":4500,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":60000,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":80000,
                "rps":150,
                "vus":150,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":80000,
                "rps":200,
                "vus":200,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "graphQLDeleteUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":90,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":350,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":3500,
                "rps":150,
                "vus":150,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":8000,
                "rps":400,
                "vus":400,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        },
        "graphQLResendEmailToUser":{
            "setupTimeoutInMinutes":30,
            "teardownTimeoutInMinutes":30,
            "smoke":{
                "threshold":4500,
                "rps":10,
                "vus":10,
                "duration":10
            },
            "average":{
                "threshold":15000,
                "rps":50,
                "vus":50,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "stress":{
                "threshold":30000,
                "rps":150,
                "vus":150,
                "duration":{
                    "rise":5,
                    "plateau":20,
                    "fall":5
                }
            },
            "spike":{
                "threshold":60000,
                "rps":200,
                "vus":200,
                "duration":{
                    "rise":10,
                    "fall":10
                }
            }
        }
    }
}