{
    "apiHost": "localhost",
    "apiPort": "80",
    "delayBetweenScenarios": 60,
    "endpoints": {
        "health": {
            "setupTimeoutInMinutes": 30,
            "teardownTimeoutInMinutes": 30,
            "smoke": {
                "threshold":9000,
                "rps": 10,
                "vus": 5,
                "duration": 10
            },
            "average": {
                "threshold": 200,
                "rps": 25,
                "vus": 25,
                "duration": {
                    "rise": 3,
                    "plateau": 10,
                    "fall": 3
                }
            },
            "stress": {
                "threshold": 1000,
                "rps": 150,
                "vus": 150,
                "duration": {
                    "rise": 3,
                    "plateau": 10,
                    "fall": 3
                }
            },
            "spike": {
                "threshold": 5000,
                "rps": 200,
                "vus": 200,
                "duration": {
                    "rise": 5,
                    "fall": 5
                }
            }
        }
    }
}
