[Unit]
Description=Run Symfony Messenger Consume Command
After=network.target

[Service]
Type=simple
ExecStart=/app/bin/console messenger:consume send-email insert-user-batch --time-limit=3600
Restart=on-failure
WorkingDirectory=/app
User=workeruser

[Install]
WantedBy=multi-user.target
