@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 400;
  src: url('~/src/features/landing/assets/fonts/Golos/GolosText-Regular.ttf')
    format('TrueType');
}

@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 500;
  src: url('~/src/features/landing/assets/fonts/Golos/GolosText-Medium.ttf')
    format('TrueType');
}
@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 600;
  src: url('~/src/features/landing/assets/fonts/Golos/GolosText-SemiBold.ttf')
    format('TrueType');
}
@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 700;
  src: url('~/src/features/landing/assets/fonts/Golos/GolosText-Bold.ttf')
    format('TrueType');
}
@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 800;
  src: url('~/src/features/landing/assets/fonts/Golos/GolosText-ExtraBold.ttf')
    format('TrueType');
}
@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 900;
  src: url('~/src/features/landing/assets/fonts/Golos/GolosText-Black.ttf')
    format('TrueType');
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-weight: 400;
  src: url('~/src/features/landing/assets/fonts/Inter/Inter-Regular.ttf')
    format('TrueType');
}

@font-face {
  font-family: 'Stolzl';
  font-display: swap;
  font-weight: 400;
  src: url('~/src/features/landing/assets/fonts/Stolzl/stolzl_regular.otf')
    format('OpenType');
}
