@font-face {
  font-family: 'GolosText-Black';
  src: url('/assets/fonts/Golos/GolosText-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'GolosText-Bold';
  src: url('/assets/fonts/Golos/GolosText-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GolosText-ExtraBold';
  src: url('/assets/fonts/Golos/GolosText-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'GolosText-Medium';
  src: url('/assets/fonts/Golos/GolosText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'GolosText-Regular';
  src: url('/assets/fonts/Golos/GolosText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GolosText-SemiBold';
  src: url('/assets/fonts/Golos/GolosText-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('/assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Stolzl-Regular';
  src: url('/assets/fonts/Stolzl/stolzl_regular.otf') format('opentype');
}
