html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  max-width: 100dvw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
