name: CLI testing

on:
  pull_request:
    branches: ['main']

jobs:
  bats_core_tests:
    runs-on: ubuntu-latest
    name: Run Bats Core Tests
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ vars.PHP_VERSION }}

      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Start Application
        run: make start

      - name: Setup Bats and bats libs
        uses: bats-core/bats-action@2.0.0

      - name: Install Bats plugins
        run: mkdir -p tests/CLI/bats/test_helper && cd tests/CLI/bats/test_helper &&
          git clone https://github.com/bats-core/bats-support.git &&
          git clone https://github.com/bats-core/bats-assert.git

      - name: Run Bats tests
        run: make bats
