name: test coverage

on:
  pull_request:
    branches: ['main']

jobs:
  codecov:
    runs-on: ubuntu-latest
    name: run codecov
    steps:
      - uses: actions/checkout@master
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ vars.PHP_VERSION }}
      - name: Install dependencies
        run: composer self-update && composer install --dev --no-scripts --no-progress && composer dump-autoload
      - name: Start Application
        run: make start
      - name: Setup Test Database
        run: make setup-test-db
      - name: Execute Unit and Integration tests
        run: make coverage-xml
      - name: Copy coverage report to host
        run: docker cp php-service-template-php-1:/srv/app/coverage/coverage.xml /tmp
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          name: codecov-umbrella
          files: /tmp/coverage.xml
          fail_ci_if_error: true
          verbose: true
