name: GraphQL spec backward comparability

on:
  pull_request:
    branches: ['main']

jobs:
  graphql-diff:
    name: Openapi-diff
    runs-on: ubuntu-latest

    steps:
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ vars.PHP_VERSION }}

      - name: Checkout Repository
        uses: actions/checkout@v4.2.1
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

      - name: Start application
        run: make start

      - name: Setup test db
        run: make setup-test-db

      - name: Generate GraphQL spec
        run: make generate-graphql-spec

      - name: Copy openapi spec to host
        run: docker cp php-service-template-php-1:/srv/app/.github/graphql-spec/spec .github/graphql-spec/spec

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          add: '.github/graphql-spec/spec'
          message: 'feat(#${{ toJSON(github.event.number) }}): generate graphql spec'

      - name: GraphQL Inspector
        uses: kamilkisiela/graphql-inspector@release-1701263349990
        with:
          schema: 'master:.github/graphql-spec/spec'
