name: Load testing

on:
  pull_request:
    branches: ['main']

jobs:
  load-tests:
    name: K6
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Create required directories
        run: mkdir -p var/log var/cache

      - name: Start application
        run: make start

      - name: Setup test db
        run: make setup-test-db

      - name: Run load tests
        run: make smoke-load-tests
