name: Load testing

on:
  pull_request:
    branches: ['main']

jobs:
  load-tests:
    name: K6
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Create required directories
        run: mkdir -p var/log var/cache

      - name: Start application
        run: make start

      - name: Reset dev database for load tests
        run: |
          docker compose exec -T php bin/console doctrine:database:drop --force --if-exists
          docker compose exec -T php bin/console doctrine:database:create
          docker compose exec -T php bin/console doctrine:migrations:migrate --no-interaction

      - name: Run load tests
        run: make smoke-load-tests
