name: code quality

on:
  pull_request:

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Start application
        run: make start

      - name: Run Psalm
        run: make psalm

      - name: Psalm Security Analysis
        run: make psalm-security-report

      - name: Verify SARIF file exists
        run: docker compose exec php test -f /srv/app/results.sarif || { echo "SARIF file not generated"; exit 1; }

      - name: Copy SARIF file from container
        run: docker compose cp php:/srv/app/results.sarif ./results.sarif

      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
